:root {
  --brandColor: hsl(166, 67%, 51%);
  --background: rgb(247, 247, 247);
  --textDark: hsla(0, 0%, 0%, 0.66);
  --textLight: hsla(0, 0%, 0%, 0.33);
}

body {
  background: var(--background);
  height: 100vh;
  color: var(--textDark);
}

.field:not(:last-child) {
  margin-bottom: 1rem;
}

.register {
  margin-top: 10rem;
  background: white;
  border-radius: 10px;
}

.left,
.right {
  padding: 4.5rem;
}

.left {
  border-right: 5px solid var(--background);
}

.left .title {
  font-weight: 800;
  letter-spacing: -2px;
}

.left .colored {
  color: var(--brandColor);
  font-weight: 500;
  margin-top: 1rem !important;
  letter-spacing: -1px;
}

.left p {
  color: var(--textLight);
  font-size: 1.15rem;
}

.right .title {
  font-weight: 800;
  letter-spacing: -1px;
}

.right .description {
  margin-top: 1rem;
  margin-bottom: 1rem !important;
  color: var(--textLight);
  font-size: 1.15rem;
}

.right small {
  color: var(--textLight);
}

input {
  font-size: 1rem;
}

input:focus {
  border-color: var(--brandColor) !important;
  box-shadow: 0 0 0 1px var(--brandColor) !important;
}

.fab,
.fas {
  color: var(--textLight);
  margin-right: 1rem;
}


.menu-button {
    margin-left: 20px;
}

tbody:nth-child(2n) {
    background-color: #F1F7FC;
}

.folders {
    display: flex;
    justify-content: center;
}


.folders > a {
    width: 100%;
    text-align: center;
}

#info-success-copy {
  position: relative;
  display: inline-block;
}

.submission {
    min-height: 500px;
}

.invisible {
    visibility: hidden;
}

#info-success-copy-code #info-success-copy-submission {
  position: relative;
  display: inline-block;
}

.custom-ace-container {
}


#parent-to-ace {
    display:inline-block;
    position:relative;
    height: 600px;
    width: 60%;
}

#file-content {
    display:inline-block;
    position:relative;
    height: 600px;
    width: 100%;

}

#submissioncode {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.console-output {
    background-color: #000;
    color: #EBDEBD;
}


#feedback-field {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

