<!doctype html>
<html>
<head>
    <title>Little app of calm</title>
    <meta charset="utf-8">
     <link rel="stylesheet" href="/css/bulma/bulma.min.css"> 
     <link rel="stylesheet" href="/css/custom_stylesheet.css"> 
    <script type="text/javascript"
        src="/js/brython/brython.js">
    </script>
    <script src="/js/brython/brython_stdlib.js">
    </script>
</head>

<body onload="brython()">

<!-- Top section --> 
<section class="section">
  <div class="container">
      <div class="notification is-light">
  <nav class="level">
      <div class="level-left">
            Student: <input class="input" type="text" type="text" value="{{ context.sis_user_id }}" id="studentcode" readonly>
        <button class="button is-primary is-light" onclick="copyStudentcode()">Copy to clipboard!</button>
        <span id="info-success-copy-code" class="tag is-success is-light invisible">Copied to clipboard!</span>
      </div>

      <a href="../" class="button">{{ name_submission }}</a>
      <a href="./" class="button">Group {{group}}</a>
      <div class="cycle-students">
          {% if prev_submission %}
              <a href="{{prev_submission}}" class="button">&lt; Previous</a>
          {% endif %}
          {% if next_submission %}
              <a href="{{next_submission}}" class="button">Next &gt;</a>
          {% else %}
              <a href="#" class="button" >Finito!</a>
          {% endif %}
      </div>
      
  </nav>
  </div>
  </div>
</section>

{% if context %}
<div class="container">  
    <!-- Output box -->
    <div class="box">
      <div class="content">
        <nav class="level">
            <div class="level-left">
              Result:
            </div>
            <div class="level-right">
                <button class="button" onclick="clearUp()">Clear result</button>
            </div>
        </nav>
           <pre><code class="python" id="result-code-ran">Run the code, see the results here...</code></pre>
           <div id="running"></div>
      </div>
</div>

<!-- Modal for tasks -->
<button id="task" class="button is-primary is-light" onclick="activateModal()">Task description</button>

<div id="task-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title">Task description</p>
      <button id="close-modal" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        {{ tasks }}
    </section>
    <footer class="modal-card-foot">
        <a href="/pdfs/{{ task_pdf }}" target="_blank">Open as PDF</a>
    </footer>
  </div>
</div>


<!-- Mid - buttons -->
<nav class="level">
  <div class="level-left">
    <button class="button is-primary is-light" onclick="copyStudentsubmission()">Copy submission to clipboard!</button>
    <span id="info-success-copy-submission" class="tag is-success is-light invisible">Copied to clipboard!</span>
  </div>

  <div class="level-right">
    <button id="find_input" class="button is-primary is-light">Test_button</button>
  </div>

  <div class="level-right">
    <button class="button is-primary is-light" onclick="runCodeInPython()">Run code!</button>
  </div>
</nav>

<section class="section">
    <div class="container custom-ace-container">
        <div class="columns ">
            <div id="parent-to-ace" class="column is-three-fifths is-mobile">
                <code class="python" id="submissioncode">{{ context.code }}</code>
                {% else %}
                <h1>Could not find file</h1>
                {% endif %}
            </div>
            <div id="parent-to-ace" class="column is-mobile">
                <div id="feedback-field">Feedback to {{ studentcode }}:</div>
            </div>
        </div>
    </div>
</section>
    <script>
        var assignment_name = "{{ name_submission }}";
        var group_n = "{{ group }}";
    </script>
<script src="/js/custom_base.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/custom_py.py" type="text/python" charset="utf-8"></script>
<script src="/js/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var feedback = ace.edit("feedback-field");
    feedback.setTheme("ace/theme/github");
    feedback.setOptions({
        showLineNumbers: false,
        displayIndentGuides: false,
        highlightGutterLine: false,
        printMargin: false,
        showGutter: false,
        minLines: 1,
        wrap: true,
    });
    feedback.session.setMode("ace/mode/markdown");
    var editor = ace.edit("submissioncode");
    editor.setTheme("ace/theme/gruvbox");
    editor.session.setMode("ace/mode/python");
</script>
</body>
</html>
