<!doctype html>
<html>
<head>
    <title>Small app of calm</title>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/solarized-dark.min.css">
<style>
body {

    background: #002b36;
}
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script charset="UTF-8" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/python.min.js"></script>
 <script>hljs.initHighlightingOnLoad();</script>
<!-- and it's easy to individually load additional languages -->
   <!-- <link rel="stylesheet" href="/path/to/styles/default.css"> -->
    <!-- <script src="static/js/highlight/highlight.pack.js"></script> -->
    <!-- <script>hljs.initHighlightingOnLoad();</script> -->
</head>
<body>
{% if context %}
<div>  
   <pre><code class="python">{{ context }}
   </code></pre>
</div>
{% else %}
  <h1>Could not find file</h1>
{% endif %}
</body>
</html>
