<!doctype html>
<html>
<head>
    <title>Little app of calm</title>
    <meta charset="utf-8">
     <link rel="stylesheet" href="/css/bulma/bulma.min.css">
     <link rel="stylesheet" href="/css/custom_stylesheet.css">
    <script type="text/javascript"
        src="/js/brython/brython.js">
    </script>
    <script src="/js/brython/brython_stdlib.js"> </script>
    <script src="https://unpkg.com/htmx.org@1.2.0"></script>
</head>

<body onload="brython()">


<!-- Top section -->
  <div class="container">
      <div class="notification is-light">
    <nav class="level">
        <div class="level-left">
              Student: <input class="input" type="text" type="text" value="{{ context.sis_user_id }}" id="studentcode" readonly>
          <button class="button is-primary is-light" onclick="copyStudentcode()">Copy to clipboard!</button>
          <span id="info-success-copy-code" class="tag is-success is-light invisible">Copied to clipboard!</span>
        </div>

        <a href="/api_submissions/{{ context.group_nr }}/" class="button">Group {{ context.group_nr}}</a>
        <a href="/api_submissions/{{ context.group_nr }}/{{context.assignment_name}}/" class="button">{{ context.assignment_name }}</a>
        <div class="cycle-students">
            {% if context.index.prev %}
            <a href="/api_submissions/{{context.group_nr}}/{{context.assignment_name}}/{{context.index.n -1}}" class="button">&lt; Previous</a>
            {% endif %}
            {% if context.index.next %}
                <a href="/api_submissions/{{context.group_nr}}/{{context.assignment_name}}/{{context.index.n +1}}" class="button">Next &gt;</a>
            {% else %}
                <a href="#" class="button" >Finito!</a>
            {% endif %}
        </div>

    </nav>
    <nav class="level">
      <div class="level-item">
        <span id="entered-grade" class="tag is-success is-light">Entered grade</span>
      </div>
    </nav>
  </div>


<!-- Modal for tasks -->

<div id="task-modal" class="modal">
  <div class="modal-background" id="task-modal-bg"></div>
  <div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title">Task description</p>
      <button id="task-modal-close-modal" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        {{ context.tasks }}
    </section>
    <footer class="modal-card-foot">
        <a href="/pdfs/{{ context.pdf }}" target="_blank">Open as PDF</a>
    </footer>
  </div>
</div>

<!-- Modal for files -->
<div id="files-modal" class="modal">
  <div class="modal-background" id="files-modal-bg"></div>
  <div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title">Files</p>
      <button id="files-modal-close-modal" class="delete" aria-label="close"></button>
    </header>
    <div class="modal-card-body">
      <nav id="files-panel" class="panel">
        <p class="panel-heading">
          All files
        </p>
      </nav>
    </div>
  </div>
</div>

<!-- Mid - buttons -->

<nav class="level">
  <div class="level-left">
    <button class="button is-primary is-light" onclick="copyStudentsubmission()">Copy submission to clipboard!</button>
    <span id="info-success-copy-submission" class="tag is-success is-light invisible">Copied to clipboard!</span>
  </div>
  <div class="level-item">
    <button id="task" class="button is-primary is-light" onclick="activateModal('task-modal')">Task description</button>
  </div>
  <div class="level-item">
    <button id="files-button" class="button is-primary is-light" onclick="activateModal('files-modal')">Files</button>
  </div>

    {% if context.second_attempt %}
    <div class="level-item">
      <a class="button is-primary is-light" href="/api_submissions/{{ context.group_nr }}/{{ context.second_attempt[2] }}/{{ context.index.n }}/{{ context.second_attempt[-1] }}" >Second attempt</a>
    </div>
    {% elif context.final_org_submission %}
    <div class="level-item">
      <a class="button is-primary is-light" href="/diff/{{context.sis_user_id}}/{{context.assignment_name}}">Differing</a>
    </div>
    {% endif %}

  <div class="level-right">
    <button class="button is-primary is-light" onclick="runCodeInPython()">Run code!</button>
  </div>
</nav>



<section class="section">
    <div class="container custom-ace-container">
        <div class="columns ">
            <div id="parent-to-ace" class="column is-three-fifths is-mobile">
                {% if context %}
                <code class="python" id="submissioncode">{{ context.code }}</code>
                {% else %}
                <h1>Could not find file</h1>
                {% endif %}
            </div>
            <div id="parent-to-ace" class="column is-mobile">
                <div id="feedback-field" form="save_to_canvas">Feedback to {{ studentcode }}:</div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <!-- Output box -->
    <div class="box">
      <div class="content">
        <nav class="level">
            <div class="level-left">
              Result:
            </div>
            <div class="level-right">
                <button class="button" onclick="clearUp()">Clear result</button>
            </div>
        </nav>
        <pre class="console-output">
          <div id="result-code-ran">>>></div>
        </pre>
           <div id="running"></div>
      </div>
</div>

<div class="level">
    <div class="level-left"></div>
        <div class="level-right">
          <div class="" hx-get="/get_submission_status/{{ context.assignment_id }}/{{ context.user_id }}" hx-trigger="load" hx-indicator="#fetch_progressing" hx-target="#entered-grade" hx-swap="innerHTML">
          </div>
            <div style="background-color:#fff">
              <img id="fetch_progressing" class="htmx-indicator" src="{{url_for('static', filename='img/spinners/puff.svg')}}" />
            </div>
            <form id="save_to_canvas" hx-post="/put-canv" hx-target="this" hx-swap="outerHTML">
            <div class="field is-grouped">
                <div class="select">
                  <select name="grade">
                    <option value="null">Ikke karaktersatt</option>
                    <option value="incomplete">Ikke godkjent</option>
                    <option value="complete">Godkjent</option>
                  </select>
                  <input type="hidden" name="comment" id="formcomment" />
                  <input type="hidden" name="user_id" value="{{ context.user_id }}" />
                  <input type="hidden" name="assignment_id" value="{{ context.assignment_id }}" />
                </div>
                <div class="control">
                    <button class="button is-primary is-light" onclick="getCommentFeedback()">Save to Canvas</button>
                  </div>
                </div>
            </form>
        </div>
</div>

<footer class="footer">
    <div class="content has-text-centered">
      <p>Hit <code>CTRL  ,</code> for editor settings <code>(macos: ⌘,)</code></p>
    <p>
      <strong>Little App of Calm</strong>  <a href="https://youtu.be/e1oO08T49s8">(not a book)</a>
    </p>
  </div>
</footer>

    <script>
        var assignment_name = "{{ context.assignment_name }}";
        var group_n = "{{ context.group_nr }}";
    </script>
<script src="/js/custom_base.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/fileviewer.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/clientFileHandler.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/custom_py.py" type="text/python" charset="utf-8"></script>
<script id="customHandler" src="/js/pre_py.py" type="text/python" charset="utf-8"></script>



<script src="/js/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var feedback = ace.edit("feedback-field");
    var editor = ace.edit("submissioncode");
    const keybindingSetting = localStorage.getItem("editorKeybinding");
    feedback.setTheme("ace/theme/github");
    feedback.setOptions({
        showLineNumbers: false,
        displayIndentGuides: false,
        highlightGutterLine: false,
        printMargin: false,
        showGutter: false,
        minLines: 50,
        wrap: true,
    });
    feedback.session.setMode("ace/mode/markdown");
    feedback.setKeyboardHandler(keybindingSetting);
    editor.setKeyboardHandler(keybindingSetting);
    editor.setTheme("ace/theme/gruvbox");
    editor.session.setMode("ace/mode/python");
</script>
</body>
</html>
