<!doctype html>
<html>
<head>
    <title>Small app of calm</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"> 
     <link rel="stylesheet" href="/css/custom_stylesheet.css"> 
</head>
<body>
    <section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
          {{ context.coursecode}}
      </h1>
      <h2 class="subtitle">
        Teaching assistants little helper
      </h2>
    </div>
  </div>
</section>

  <nav class="level">
      <div class="level-item">
        <h1>{{ context.submission }}</h1>
        <a href="../" class="button menu-button">Back</a>
      </div>
  </nav>

    <div class="container">
        <span class="tag is-light">
            Path:
            {{ request.path }}
        </span>
              {% if context.update_info %}
              <span class="tag is-info is-light">Last file updated:</span>
              {% for info in context.update_info %}
             <span class="tag is-success is-light">{{ info }}</span>
                {% endfor %}
                {% endif%}
    <table class="table is-striped is-fullwidth">
        <thead>
            <tr>
                {% if context.folders %}
                <th>Folders</th>
                {% elif context.files %}
                <th>Files</th>
                {% endif  %}
            </tr>
        </thead>
    <tbody>
{% for item in context.folders %}
<tr>
<td class="folders"><a href="{{ item }}">{{ item }}</a> </td>
</tr>
{% endfor %}
{% for item in context.files %}
<tr>
<td><a href="{{ item }}">{{ item }}</a> </td>
</tr>
{% endfor %}
    </tbody>
    </table>
    </div>
    </div>
        <div class="container">
        <div class="column is-half is-offset-one-quarter">
            <p class="subtitle">Submissions pr group</p>
        {% for key, value in context.groups.stats.items() %}
            {% if key == "submissions_pr_group" %}
                {% for every_sub, n_submissions in value %}
                    {% if every_sub == context.submission %}
                            {% for gr, sub in n_submissions %}
                            Group {{ gr }}  -  {{ sub }} / 24
                                <progress class="progress is-primary" value="{{sub}}" max="24">15%</progress>
                    {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>A little app of calm</strong> by <a href="https://github.com/kalzun">Erik And</a>. </p>
  </div>
</footer>
</body>
</html>
