<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A little app of calm</title>
    <link rel="stylesheet" href="/css/bulma/bulma.min.css"> 
    <link rel="stylesheet" href="/css/custom_stylesheet.css"> 
    <script src="https://unpkg.com/htmx.org@1.2.0"></script>
  </head>

  <body>

    <section class="container">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2 register">
          <div class="columns">
            <div class="column left">
              <h1 class="title is-1">A little app of calm</h1>
              <h2 class="subtitle colored is-4">For teaching assistants</h2>
              <p>See submissions, run their code (beta), and please cooperate making this better!</p>
            </div>
            <div class="column right has-text-centered">
              <h1 class="title is-4">Click to see submissions</h1>
              <p class="description">Documentation is coming.</p>
              <form action="api_submissions" method="get">
                <button type="submit" class="button is-block is-primary is-fullwidth is-medium">See submissions</button>
                <br />
                <small><em>This is a work in progress...</em></small>
              </form>

                <button class="button is-block is-primary is-fullwidth is-small" hx-get="/update/" hx-indicator="#fetch_progressing" hx-swap="outerHTML">
                    Update from API
                </button>
                <div style="background-color:#fff">
                    <img id="fetch_progressing" class="htmx-indicator" src="img/spinners/puff.svg" />
                </div>
                <br />

                <button id="keybinding-editor" class="button is-block is-primary is-fullwidth is-small" ></button>

            </div>
          </div>
        </div>
        <div class="column is-8 is-offset-2">
          <br>
          <nav class="level">
            <div class="level-right">
                <small class="level-item" style="color: var(--textLight)">Join in and develop this together at  <a href="https://www.github.com/kalzun/">GitHub</a></small>
            </div>
          </nav>
        </div>
      </div>
    </section>

    <script>
      window.addEventListener("DOMContentLoaded", function() {
        const keybutton = document.querySelector("#keybinding-editor");
        setKeybinding(true);
        keybutton.addEventListener("click", function() {
            setKeybinding();
            });
      function setKeybinding(get_value) {
          const setting = localStorage.getItem("editorKeybinding");
            if (setting === "" || setting === null){
                    if (get_value){
                      keybutton.innerHTML = "Normal Keybinding"
                      return
                          }

              localStorage.setItem("editorKeybinding", "ace/keyboard/vim");
              keybutton.innerHTML = "VIM mode ON"
                }
          else {
                  if (get_value){
                      keybutton.innerHTML = "VIM mode ON"
                      return
                     }

            localStorage.setItem("editorKeybinding", "");
            keybutton.innerHTML = "Normal Keybinding"
              }
            }
     })

    </script>
  </body>

</html>
