<!DOCTYPE html>
<html>
<head>
    <title>Small app of calm</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
     <link rel="stylesheet" href="/css/custom_stylesheet.css">
</head>
<body>
    <section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
          {{ context.coursecode }}
      </h1>
      <h2 class="subtitle">
        Teaching assistants little helper
      </h2>
    </div>
  </div>
</section>

  <nav class="level">
      <div class="level-item">
        <a href=".." class="button menu-button">Back</a>
      </div>
  </nav>

<div class="container">
  <div class="level">
    <div class="level-item title is-3">{{ context.page_name }}</div>
  </div>
    <table class="table is-striped is-fullwidth">
    {% for group in context.groups %}
    <tr>
      <td class="folders"><a href="{{ group['group_nr'] }}">Gruppe {{ group['group_nr'] }}</a> </td>
    </tr>
    {% endfor %}

    {% for assignment in context.assignments %}
    <tr>
      <td class="folders"><a href="/api_submissions/{{assignment['group_nr']}}/{{ assignment['assignment_id'] }}">{{ assignment['assignment_name'] }}</a> </td>
    </tr>
    {% endfor %}

    {% for submission in context.submissions %}
    <tr>
      <td class="folders"><a href="/api_submissions/{{submission['group_nr']}}/{{ submission['assignment_id'] }}/{{ submission['submission_id'] }}"><span class="group-loop-index">{{loop.index0}}. </span>{{ submission['user_name'] }} - ({{submission['sis_user_id']}})</a> </td>
    </tr>
    {% endfor %}

    {% for attachment in context.attachments %}
    <tr>
      <td class="folders"><a href="/fileviewer/{{context['base']['group_nr']}}/{{ context['base']['assignment_id'] }}/{{ context['base']['submission_id'] }}/{{ attachment['filename'] }}">{{ attachment['displayname'] }}<p class="modified-at">✎ {{ attachment['modified_at'] }}</p></a> </td>
    </tr>
    {% endfor %}

    </table>
</div>

</body>
</html>
